@page
@model IndexModel
@{
    ViewData["Title"] = "Fizz Buzz";
}
<h1 class="display-4">Welcome</h1>
<form method="post">
    <div class="form-group">
        <label for=exampleInputNumber asp-for="FizzBuzz.Name"></label><br />
        <input type="text" class="form-control" asp-for="FizzBuzz.Name">
        <span asp-validation-for="FizzBuzz.Name" class="text-danger"></span>

        <label for=exampleInputNumber asp-for="FizzBuzz.Year"></label><br />
        <input type="number" class="form-control" asp-for="FizzBuzz.Year">
        <span asp-validation-for="FizzBuzz.Year" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>